.root {
  width: 100%;

  & > div > div > input {
    border-radius: 0;
  }
}

.focus {
  border: 1px solid var(--color-interactive-action-secondary);
}

.errorMessage {
  display: inline-block;
  font-weight: 400;
}

.indicator {
  width: 100%;
  color: var(--color-text-action-primary);
  margin-top: 4px;
  padding: 4px 12px;
  border-radius: 8px;
  gap: 2px;

  & > span {
    text-transform: unset;
    letter-spacing: var(--typography-body-regular-letter-spacing);
    margin-left: 12px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    span {
      font-weight: 500;
      background-color: transparent;

      &.very_strong {
        color: var(--color-state-success);
      }

      &.strong {
        color: var(--color-state-success);
      }

      &.medium {
        color: var(--color-grayscale-black);
      }

      &.weak {
        color: var(--color-state-critical);
      }
    }
  }
}

.rules {
  display: flex;
  flex-direction: column;
}

.rule {
  margin-left: 12px;

  span {
    color: var(--color-grayscale-black);
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
  }

  & > svg {
    margin-right: 8px;
    top: 2px;
    position: relative;
  }
}

.very_strong {
  background: #81b562;
}

.strong {
  background: rgba(140, 198, 63, 20%);
}

.medium {
  background: #ffd6b3;
}

.weak {
  background: rgba(240, 88, 66, 20%);
}

.icon {
  cursor: pointer;
}
